@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: #272829;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 3%;
}

.header .logo{
    cursor: pointer;

}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}


.header .logo img:hover{
    transform: scale(1.2);
}

.header .button button{
    font-weight: 700;
    color: gray;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}

.header .button button:hover{
    background-color: #e2f1f8;
    color: #c1c1c1;
    transform: scale(1.1);
}

.logonav{
    border-radius: 25px;
}



/*FOOTER*/

.piedepagina{
    width: 100%;
    height: 70%;
    background-color: #272829;
}

.piedepagina  .grupo1{
width: 100%;
max-width: 1000%;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;
}

.piedepagina  .grupo1 .caja figure{
    width: 100%;
    height: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.piedepagina  .grupo1 .caja figure img{
    width: 100px;
}

.piedepagina  .grupo1 .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.piedepagina  .grupo1 .caja p{
    color: #efefef;
    margin-bottom: 10px;
}

.piedepagina  .grupo2{
    background-color: #414344;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/* Configuración de iconos */

.celular{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.email{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.direccion{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.logo{
    border-radius: 25px;
}

.Redes{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.empresa{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.logo:hover{
    transform: scale(0.9);
    transition: all 400ms ease;
    cursor: pointer;
}


.circulos{
    border-radius: 25px;
    border-style: solid;
    background-color: #272829;
    color: #fff;
}

/*navegacion*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}

header{
	width: 100%;
	height: 100px;
	background-color: #0b132b;
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
	float: left;
	padding: 5px 20px 0;
}
.logo img{
	height: 80px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
    transition: all 300ms ease;
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #7c818a;
	transform: scale(1.1);
    transition: all 300ms ease;
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #272829;
	position: absolute;
	width: 100%;
    border-radius: 15px;
}
.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}